/*View Login*/

#form-box li {
    padding-bottom: 30px;
}

span {
    font-size: 14px;
    font-family: 'Tsukimi Rounded', sans-serif;
    font-weight: 300;
}

.lang-position {
    position: absolute;
    top: 10px;
    right: 20px;
}

#header-guest {
    background: #181818;
    padding: 8px 30px 17px;
    position: fixed;
    z-index: 103;
    left: 0;
    top: 0;
    width: 100%;
}


    #header-guest.transparent {
        background: transparent;
    }



#form-box {
    background: rgba(255, 255, 255, 0.6);
    transform: translate(-50%, -50%);
    padding: 30px;
    position: absolute;
    z-index: 103;
    left: 50%;
    top: 50%;
    width: 450px;
    height: 450px;
    border-radius: 8px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    #form-box::-webkit-scrollbar {
        display: none;
    }

    #form-box h3 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 30px;
        color: #0a9396;
        text-transform: uppercase;
        font-family: 'Indie Flower', cursive;
    }

    #form-box .form-style {
        position: relative;
        margin-bottom: 30px;
    }

    #form-box .padding {
        position: relative;
        margin-bottom: 10px;
    }

    #form-box .form-style input {
        padding: 10px;
        font-size: 14px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        border-bottom: 1px solid #333;
        outline: none;
        font-family: 'Tsukimi Rounded', sans-serif;
        font-weight: 300;
    }

    #form-box input[type='submit'] {
        padding: 5px 20px;
        width: 100%;
        margin-top: 2px;
        background-color: #f6bd60;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 20px;
        cursor: pointer;
        transition: 0.5s;
        font-family: 'Indie Flower', cursive;
    }

        #form-box input[type='submit']:hover {
            background: #ee9b00;
        }

    #form-box .form-style label {
        position: absolute;
        top: 0;
        left: 0px;
        padding: 10px 0;
        font-size: 15px;
        pointer-events: none;
        transition: 0.5s;
        font-family: 'Indie Flower', cursive;
    }

    #form-box .form-style input:focus + label{
        top: -23px;
        left: 0px;
        font-size: 20px;
        color: #0a9396;
    }

    #form-box .form-style input:focus + label {
        padding-top: 2px;
        top: -23px;
        left: 0px;
        font-size: 20px;
        color: #0a9396;
    }
    
/*  

@media screen and (max-width: 1024px) {

    #form-box {
        width: 350px;
        height: 400px;
    }
}


@media screen and (max-width: 800px) {

    #form-box {
        top: 40%;
        width: 400px;
        height: 400px;
    }

        #form-box h3 {
            font-size: 25px;
            margin-bottom: 25px;
        }

        #form-box .form-style {
            margin-bottom: 25px;
        }

        #form-box .padding {
            margin-bottom: 10px;
        }


    @media screen and (max-width: 600px) {
        #form-box {
            width: 350px;
            height: 400px;
        }
    }

    @media screen and (max-width: 420px) {
        #form-box {
            width: 340px;
            height: 400px;
        }
    }

    @media screen and (max-width: 400px) {
        #form-box {
            width: 340px;
            height: 380px;
        }
    }

    @media screen and (max-width: 300px) {
        #form-box {
            top: 25%;
            width: 280px;
            height: 350px;
        }

            #form-box input[type='submit'] {
                padding: 5px 5px;
                width: 50%;
                border-radius: 3px;
                text-transform: uppercase;
                font-size: 15px;
                float: left;
            }
    }
*/