#form-box-register li {
    padding-bottom: 30px;
}


#form-box-register {
    background: rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
    padding: 20px;
    position: absolute;
    z-index: 103;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 630px;
    border-radius: 8px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    #form-box-register::-webkit-scrollbar {
        display: none;
    }

    #form-box-register h3 {
        font-size: 38px;
        text-align: center;
        margin-bottom: 30px;
        color: #f9c74f;
        text-transform: uppercase;
        font-family: 'Ysabeau Infant', sans-serif;
        font-weight: 600;
        padding-top: .8rem;
    }

    #form-box-register .form-style {
        position: relative;
        margin-bottom: 30px;
    }

    #form-box-register .padding {
        position: relative;
        margin-bottom: 10px;
    }

    #form-box-register .form-style input {
        padding: 10px;
        font-size: 18px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-bottom: 1px solid #333;
        outline: none;
        font-family: 'Ysabeau Infant', sans-serif;
        font-weight: 300;
        color: #fff;
    }

    #form-box-register input[type='submit'], #form-box-register input[type='button'] {
        padding: 5px 20px;
        width: 100%;
        margin-top: 2px;
        background-color: #84bbb5;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;
        transition: 0.5s;
        font-family: 'Ysabeau Infant', sans-serif;
        height: 35px;
    }

        #form-box-register input[type='submit']:hover {
            background: #1b9aaa;
        }

        #form-box-register input[type='button']:hover {
            background: #1b9aaa;
        }

    #form-box-register .form-style label {
        position: absolute;
        top: 0;
        left: 0px;
        padding: 5px 0;
        font-size: 15px;
        pointer-events: none;
        transition: 0.5s;
        font-family: 'Ysabeau Infant', sans-serif;
        font-weight: 600;
    }

    #form-box-register .form-style input:valid + label {
        top: -20px;
        left: 0px;
        font-size: 20px;
        color: #d8e2dc;
        position: absolute;
    }

    #form-box-register .form-style input:focus + label {
        top: -23px;
        left: 0px;
        font-size: 20px;
        color: #90d5d0;
    }


@media screen and (max-width: 1024px) {

    #form-box-register {
        width: 350px;
        height: 440px;
    }
}


@media screen and (max-width: 800px) {

    #form-box-register h3 {
        font-size: 25px;
        margin-bottom: 25px;
    }

    #form-box-register .form-style {
        margin-bottom: 25px;
    }

    #form-box-register .padding {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    #form-box-register {
        top: 50%;
        width: 350px;
    }
}

@media screen and (max-width: 420px) {
    #form-box-register {
        width: 340px;
    }
}

@media screen and (max-width: 400px) {
    #form-box-register {
        width: 300px;
    }
}

@media screen and (max-width: 300px) {
    #form-box-register {
        width: 240px;
        height: 360px;
    }

        #form-box-register input[type='submit'], #form-box-register input[type='button'] {
            padding: 5px 5px;
            width: 50%;
            border-radius: 3px;
            text-transform: uppercase;
            font-size: 15px;
            float: left;
        }
}
