body {
}

#form-box {
    background: #181818;
    padding: 8px 30px 17px;
    position: fixed;
    z-index: 103;
    left: 0;
    top: 0;
    width: 100%;
}

    #form-box.transparent {
        background: transparent;
    }
