.img-file {
    margin: 2px;
    padding-bottom: 20px;
}

section#fm {
    display: flex;
    justify-content: center;
    align-items: center;
}

form#pic {
    width: 600px;
    height: auto;
}

section#fm-Album {
    display: flex;
    justify-content: center;
    align-items: center;
}

form#pic-Album {
    width: 800px;
    height: auto;
}

h2 {
    text-align: center;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 600;
    color: #d4b60f
}

h1 {
    text-align: center;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 600;
    color: #d4b60f;
    padding-top: 20px;
}

h5 {
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 600;
    color: #d4b60f;
}

input.btt, input.btt.cancel {
    margin: .5rem;
    color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 80px;
    height: 30px;
    display: inline;
    font-size: 15px;
    padding: 1px;
    float: right;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 600;
    color: #000;
}

input.btt {
    background-color: #eab2c5da;
}

    input.btt.cancel {
        background-color: #d41f1f88;
    }

.text-success {
    color: #47a320;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.text-danger {
    color: #d70000;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 600;
    font-size: 17px;
}