.img {
    width: 200px;
    display: flex;
    flex-direction: column;
}

section #form-def {
    display: flex;
    justify-content: center;
    align-items: center;
}

form.form-pic {
    width: 800px;
    height: 630px;

}

.owl-carousel .owl-item img {
    display: block;
    width: 50%;
    align-items: center;
}