@{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

@{
    ViewData["Title"] = Localize("general.info");
}

<header id="form-box" class="vm transparent">

    <form>

        @if (ViewData["SuccessMessage"] != null)
        {

            <div class="text-success">@ViewData["SuccessMessage"]</div>
        }

 
        <h3>@Localize("general.info")</h3>

        <div>
            <label class="control-label">@Localize("info.messageEmail")</label>
        </div>           

        <div class="form-style padding">
            <input type="button" onclick="window.location = '/Useraccounts/Login'" value="@Localize("general.button.back")" class=" btn btn-primary" />
        </div>
    </form>
</header>








