@{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

@{
    ViewData["Title"] = Localize("customer.page.create.title");
}

<header id="form-box" class="vm transparent">

    <form>

        <h3>@Localize("login.title")</h3>

        <div>
            <label class="control-label">@Localize("msg.emailSent")</label>
        </div>           

        <div class="form-style padding">
            <input type="button" onclick="window.location = '/Useraccounts/Login'" value="@Localize("general.button.back")" class=" btn btn-primary" />
        </div>
    </form>
</header>








