@model IEnumerable<SharePix.WebApp.Models.HomePage.PhotoViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewData["Title"] - SharePix.WebApp</title>

<main role="main">

    <div class="template_container">

        <h1>Full Width Masonry Portfolio</h1>

    </div>

    <!-- - - - - - - - - - - - - - Isotope Container - - - - - - - - - - - - - - - - -->

    <div class="portfolio_isotope_container full_width" data-max-request-posts="35" data-page-type="portfolio" data-masonry="true" @*data-url="~/json/portfolio_items.json"*@>

        @foreach (var photo in Model)
        {
            <div class="isotope_item travelling">
                <div class="grid_sizer"></div>

                <!-- - - - - - - - - - - - - - Portfolio Item - - - - - - - - - - - - - - - - -->

                <div class="inner_j_item item_type_1">

                    <img class="item_image" src="~/photos/@(photo.Id).jpg" />
                    <a href="portfolio_mixed_list_post.html" class="overlay_link"></a>
                    @*<h4 class="title"><a href="portfolio_mixed_list_post.html">Portfolio Post 1</a></h4>*@


                    <!-- - - - - - - - - - - - - - Category & Statistic - - - - - - - - - - - - - - - - -->

                    <div class="meta">

                        <!-- - - - - - - - - - - - - - Title & Category - - - - - - - - - - - - - - - - -->

                        <div class="category"><a href="#">Travelling</a></div>

                        <div class="stats">

                            <span class="sl_wrap"><i class="icon-eye"></i><a href="#" class="stat_link">15</a></span>
                            <span class="sl_wrap"><i class="icon-heart-empty"></i><a href="#" class="stat_link">97</a></span>

                        </div>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Category & Statistic - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Portfolio Item - - - - - - - - - - - - - - - - -->

            </div>
        }


        <!-- - - - - - - - - - - - - - End of Isotope Container - - - - - - - - - - - - - - - - -->
    </div>
</main>
@section Scripts{
    <script src="~/plugins/isotope.pkgd.min.js"></script>

}


