
<title>@ViewData["Title"] - SharePix.WebApp</title>


<!-- - - - - - - - - - - - - - Page content - - - - - - - - - - - - - - - - -->

<div id="page_wrap" class="ribbon">

    <main role="main">

        <div class="owl_wrap">

            <div id="gallery_ribbon" class="gallery_ribbon owl_carousel">

                <!-- - - - - - - - - - - - - - Gallery Item - - - - - - - - - - - - - - - - -->

                <div class="ribbon_item" data-title="Aliquam Erat Volutpat" data-description="Duis ac turpis. Donec sit amet eros.">

                    <img src="images/portfolio_ribbon_img_1.jpg" alt="">

                </div><!--/ .flow_item -->
                <!-- - - - - - - - - - - - - - End of Gallery Item - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - Gallery Item - - - - - - - - - - - - - - - - -->

                <div class="ribbon_item" data-title="Lorem ipsum dolor" data-description="Duis ac turpis. Donec sit amet eros.">

                    <img src="images/portfolio_ribbon_img_2.jpg" alt="">

                </div><!--/ .flow_item -->
                <!-- - - - - - - - - - - - - - End of Gallery Item - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - Gallery Item - - - - - - - - - - - - - - - - -->

                <div class="ribbon_item" data-title="Aliquam Erat Volutpat" data-description="Duis ac turpis. Donec sit amet eros.">

                    <img src="images/portfolio_ribbon_img_1.jpg" alt="">

                </div><!--/ .flow_item -->
                <!-- - - - - - - - - - - - - - End of Gallery Item - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - Gallery Item - - - - - - - - - - - - - - - - -->

                <div class="ribbon_item" data-title="Lorem ipsum dolor" data-description="Duis ac turpis. Donec sit amet eros.">

                    <img src="images/portfolio_ribbon_img_2.jpg" alt="">

                </div><!--/ .flow_item -->
                <!-- - - - - - - - - - - - - - End of Gallery Item - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - Gallery Item - - - - - - - - - - - - - - - - -->

                <div class="ribbon_item" data-title="Aliquam Erat Volutpat" data-description="Duis ac turpis. Donec sit amet eros.">

                    <img src="images/portfolio_ribbon_img_1.jpg" alt="">

                </div><!--/ .flow_item -->
                <!-- - - - - - - - - - - - - - End of Gallery Item - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - Gallery Item - - - - - - - - - - - - - - - - -->

                <div class="ribbon_item" data-title="Lorem ipsum dolor" data-description="Duis ac turpis. Donec sit amet eros.">

                    <img src="images/portfolio_ribbon_img_2.jpg" alt="">

                </div><!--/ .flow_item -->
                <!-- - - - - - - - - - - - - - End of Gallery Item - - - - - - - - - - - - - - - - -->
                <!-- - - - - - - - - - - - - - Gallery Item - - - - - - - - - - - - - - - - -->

                <div class="ribbon_item" data-title="Aliquam Erat Volutpat" data-description="Duis ac turpis. Donec sit amet eros.">

                    <img src="images/portfolio_ribbon_img_1.jpg" alt="">

                </div><!--/ .flow_item -->
                <!-- - - - - - - - - - - - - - End of Gallery Item - - - - - - - - - - - - - - - - -->

            </div>

            <!-- - - - - - - - - - - - - - Controls with SVG icons - - - - - - - - - - - - - - - - -->

            <span class="si-icon action_btn dark large owl-prev" data-width="28" data-height="28" data-event="mouseover" data-icon-name="previous"></span>

            <span class="si-icon action_btn dark large owl-next" data-width="28" data-height="28" data-event="mouseover" data-icon-name="next"></span>

            <!-- - - - - - - - - - - - - - End of Controls with SVG icons - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - Page title section - - - - - - - - - - - - - - - - -->

        <footer class="slide_caption_wrap">

            <div class="template_container">

                <div class="row table_layout">

                    <div class="col-sm-6">

                        <!-- - - - - - - - - - - - - - Gallery Slide Caption - - - - - - - - - - - - - - - - -->

                        <div id="gallery_slide_data" class="gallery_slide_data">

                            <h3 class="slide_caption">&nbsp;</h3>

                            <p class="slide_description"></p>

                        </div><!--/ .gallery_slide_data -->
                        <!-- - - - - - - - - - - - - - End of Gallery Slide Caption - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col] -->

                    <div class="col-sm-6">

                        <!-- - - - - - - - - - - - - - Actions - - - - - - - - - - - - - - - - -->

                        <ul class="page_actions">

                            <li>

                                <!-- - - - - - - - - - - - - - Share - - - - - - - - - - - - - - - - -->

                                <div class="share_wrap">

                                    <span class="si-icon share action_btn large" data-width="28" data-height="28" data-event="click" data-icon-name="social"></span>

                                    <div class="addthis_sharing_toolbox large_icons"></div>

                                </div>

                                <!-- - - - - - - - - - - - - - End of Share - - - - - - - - - - - - - - - - -->

                            </li>

                            <li>
                                <span class="like_btn" data-amount="97">
                                    <span class="si-icon action_btn large not_liked" data-width="32" data-height="28" data-event="mouseover" data-icon-name="likeDark" data-amount="97"></span>
                                    <span class="si-icon action_btn large liked" data-width="32" data-height="28" data-event="mouseover" data-icon-name="likedDark" data-amount="97"></span>
                                </span>
                            </li>

                            <li class="fs_stay"><span id="toggle_view_fullscreen" class="si-icon si-icon-reverse action_btn large" data-width="28" data-height="28" data-event="click" data-icon-name="plus"></span></li>

                        </ul><!--/ .alignright -->
                        <!-- - - - - - - - - - - - - - End of Actions - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col] -->

                </div><!--/ .row.table_layout -->

            </div><!--/ .template_container -->

        </footer>

        <!-- - - - - - - - - - - - - - End of Page title section - - - - - - - - - - - - - - - - -->

    </main>

</div><!--/ .page_wrapper -->
