@model SharePix.WebApp.Models.Photos.UploadPhotoViewModel

@{
    ViewData["Title"] = "Upload Photos";
}

@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}
<link rel="stylesheet" href="~/css/uploadPhoto.css">

<h2>Upload Photos</h2>

<form asp-action="UploadPhoto" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <div class="containerPhoto">
            <div id="preview" class="img"></div>
            <input type="file" name="files" id="photos" multiple />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>

</form>

@section Scripts{
    <script src="/js/uploadPhoto.js"></script>
}
